.usersPanel{
  border: 1px solid var(--secondColor);
  width: 80%;
  height: 30%;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  overflow: auto;
  overflow-x: hidden;
  legend{
    color: var(--secondColor);
    font-size: 10px;
    text-align: center;
  }
  .userName{
    border: none;
    border-radius: 20px;
    width: 90%;
    padding: 0 10px;
    background-color: var(--secondColor);
    color: var(--textMainColor);
  }
}