.container {
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  width: 80%;
  height:30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  legend{
    color: rgba(0, 0, 0, 0.45);
    font-size: 10px;
    text-align: center;
  }

  .roomBlock {
    width: 90%;
    display: flex;
    flex-direction: row;

    input {
      width: 100%;
    }
  }

  .roomsList {
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    .roomPanel{
      width: 90%;
      margin: 0 5px;
      display: flex;
      flex-direction: row;
      gap:5px;
      .roomButton{
        border: none;
        width: 100%;
        padding: 5px 10px;
        font-size: 14px;
        color: white;
        border-radius: 5px;
      }
      button{
        border: 1px solid rgba(0, 0, 0, 0.27);
        border-radius: 15px;
        width: 32px;
        height: 26px;
      }
    }

  }
}