@import "../../common/sass";

.container {
  border: 1px solid var(--secondColor);
  border-radius: 10px;
  width: 90%;
  height:30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  @include scrollbar();
  legend{
    color: var(--secondColor);
    font-size: 10px;
    text-align: center;
  }

  .roomBlock {
    width: 90%;
    display: flex;
    flex-direction: row;

    input {
      width: 100%;
      color: var(--textMainColor);
      background-color: rgba(89, 88, 88, 0.09);
    }
    button{
      background-color: var(--fourthColor);
      border: none;
      cursor: pointer;
    }
  }

  .roomsList {
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    .roomPanel{
      width: 90%;
      margin: 0 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:5px;

      .roomButtonGeneral{
        border: none;
        width:100% ;
        height: 100%;
        padding: 5px 10px;
        font-size: 14px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        word-wrap: break-word;

      }
      .roomButton{
        @extend .roomButtonGeneral;
        width: calc(100% - 32px);
      }
      button{
        border: none;
        border-radius: 15px;
        width: 26px;
        height: 26px;
        background-color: var(--fourthColor);
        cursor: pointer;
      }
    }

  }
}