@import "common/sass";

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color: var(--secondColor);

  .window {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--mainColor);
    @media screen and (max-width: $medium) {
      width: 100%;
      padding: 20px 0;
    }
    @media screen and (max-width: $small) {
    height: 100%;
    }


    .userBlock {
      border: 1px solid var(--secondColor);
      border-radius: 10px;
      width: 15%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      background-color: var(--mainColor);
      z-index: 2;
      transition: left 0.5s;
      @media screen and (max-width: $medium) {
        width: 20%;
      }
      @media screen and (max-width: $small) {
        position: absolute;
        width: 80%;
        left: 0;
      }
    }
    .userBlockClose{
      @extend .userBlock;
      left: -730px;
    }
    .closeZone{
      display: none;
      width:20%;
      position: absolute;
      right: 0;
      height: 100%;
      background-color: var(--fourthColor);
      justify-content: center;
      z-index: 2;
      button{
        height: 10%;
        width: 80%;
        margin-top: 20px;
        color: var(--textMainColor);
        background-color: rgba(255, 250, 250, 0);
       border-radius: 10px;
      }
      @media screen and (max-width: $small) {
       display: flex;
      }
    }
    .closeZoneClose{
      @extend .closeZone;
      display: none;
    }
  }
}