.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color: var(--secondColor);

  .window {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--mainColor);

    .userBlock {
      border: 1px solid var(--secondColor);
      border-radius: 10px;
      width: 15%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      background-color: var(--mainColor);
    }

  }
}