body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --mainColor: #121619;
  --secondColor: rgb(45, 71, 57);
  --thirdColor: #09814A;
  --fourthColor: rgba(188, 179, 130, 0.5);
  --fifthColor: #E5C687;
  --textMainColor: rgb(255, 255, 255);
  --textSecondColor: rgb(0, 0, 0);
  --textErrorColor: #ff4141;
}